############################
# ENV / SECRETS
############################
.env
.env.*
*.env

############################
# DEPENDANCES
############################
/vendor/
/node_modules/

############################
# CACHE / TEMP
############################
/cache/
/data/cache/
/tmp/
/logs/
*.log

############################
# OS / IDE
############################
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

############################
# WAMP / APACHE
############################
.htaccess.bak
httpd-vhosts.conf

############################
# UPLOADS (si contenu dynamique)
############################
/public/uploads/
